# Copy to .env and adjust as needed.
APPLICATION_URL=https://www.saucedemo.com/
APPLICATION_USERNAME=standard_user
APPLICATION_PASSWORD=secret_sauce

API_URL=https://dummyjson.com/

DEFAULT_ACTION_TIMEOUT_MS=10000
DEFAULT_NAVIGATION_TIMEOUT_MS=30000
LOG_LEVEL=info
